/target
.env
.vscode
sessions.db
memory.db
.cli*
/workspace/*
!/workspace/.skills/
!/workspace/wiki/Templates/
!/workspace/AGENT.md
!/workspace/USER.md
!/workspace/README.md
!/workspace/STATE_PROTOCOL.md
workspace/MEMORIES.md
/ref
workspace/wiki/
workspace/todos.json
workspace/wiki/.obsidian
workspace/.skills/create-pdf/libs
.idea/
idea/*
note/*
mcp.json
xmcp.json
persona/*
mlflow.db