/target
.env
.vscode
sessions.db
memory.db
.cli*
workspace/*
!/ref
.idea/
idea/*
note/*
mcp.json
xmcp.json
persona/*
mlflow.db
*.log
.antigravitycli
x
.npm/
test*.txt
test*.db
.env
