only-built-dependencies[]=esbuild
only-built-dependencies[]=@esbuild/linux-x64
only-built-dependencies[]=@esbuild/win32-x64
only-built-dependencies[]=@esbuild/darwin-x64
confirm-modules-purge=false
confirmModulesPurge=false

